<div class="login-bg">
  <div class="login-card">
    <div class="login-title">
      <span class="material-symbols-outlined icon-blue">login</span>
      Sign In to Your Account
    </div>
    <form>
      <div class="login-field">
        <span class="material-symbols-outlined icon-blue">mail</span>
        <input type="email" placeholder="Email" required />
      </div>
      <div class="login-field">
        <span class="material-symbols-outlined icon-blue">lock</span>
        <input type="password" placeholder="Password" required />
      </div>
      <button class="login-btn" type="submit">Login</button>
    </form>
    <div class="login-link">
      <span>Don't have an account?</span>
      <button class="register-btn-alt" type="button" (click)="goToRegister()">Register</button>
    </div>
  </div>
</div>
